{
  "presets": [["react-app", { "flow": true }, "@babel/preset-react"]],
  "plugins": [
    [
      "react-intl-auto",
      {
        "removePrefix": "src/",
        "filebase": true
      }
    ]
  ]
}
