.flex-grow-1 {
  flex-grow: 1;
}

.d-flex {
  display: flex;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}